<ion-view view-title="Actividades y Premios">
  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="images/arbol.jpeg">
        <h2>Concurso de botellas</h2>
        <p>Acumula puntos por botellas</p>
      </div>

      <div class="item item-image">
        <img src="images/botella.jpg" style="height: 180px; width: 180px;">
      </div>

      <a class="item item-icon-left assertive" ng-click="premios()">
        <i class="icon ion-android-star-outline"></i>
        Consulte la lista de premios
      </a>


      <div class="item item-avatar">
        <img src="images/arbol.jpeg">
        <h2>Concurso de latas</h2>
        <p>Acumula puntos por latas</p>
      </div>

      <div class="item item-image">
        <img src="images/latas.jpg" style="height: 180px; width: 180px;">
      </div>

      <a class="item item-icon-left assertive" ng-click="premios()">
        <i class="icon ion-android-star-outline"></i>
        Consulte la lista de premios
      </a>

    </div>



  </ion-content>
</ion-view>
