<ion-view view-title="ReciclApp" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>

    <div align="center">
      <img ng-src="images/reciclaje.jpeg" style="height: 120px; width: 120px;">
    </div>

    <div align="center">
      <p style="font-size:12px">¿VALE LA PENA RECICLAR?</p>

      <p style="font-size:11px">
        Para nadie es un secreto que la contaminación y el mal uso <br>
        de los recursos naturales trae consecuencias sobre el medio ambiente,<br>
        lo que afecta a los seres vivos y reduce la prolongación <br>
        de su existencia en la Tierra.<br>
        Es por esto,que más allá del hecho de separar y clasificar los <br>
        desechos, el reciclaje es un proceso que además de reducir <br>
        el cambio climático, permite que muchas personas se beneficien de el.
      </p>

      <p style="font-size:11px">
        Con ReciclApp puede contribuir a salvar el planeta mientras acumula <br>
        puntos para recibir distintos beneficios.
      </p>

      <p style="font-size:12px">¿CÓMO LO HAGO?</p>
      <p style="font-size:11px">
        Solo tiene que escanear el código de barras que obtiene al reciclar  <br>
        sus botellas y así la aplicación le otorgará puntos cangeables <br>
        por diferentes premios.
      </p>

    </div>

    <div align="center">
      <img ng-src="images/rrr.jpg" style="height: 100px; width: 100px;">
    </div>

  </ion-content>
</ion-view>
