<ion-modal-view>
  <ion-header-bar class="bar-energized">
    <h1 class="title">Listado general de premios</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePremios()">Cerrar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Plástico
      </div>

      <a class="item" href="#">
        10 botellas plásticas: Audífonos Cenfotec.
      </a>

      <a class="item" href="#">
        5 botellas plásticas: 1 botellas Cenfotec.
      </a>

      <div class="item item-divider">
        Latas
      </div>

      <a class="item" href="#">
        10 latas: 1 bolso Cenfotec.
      </a>

      <a class="item" href="#">
        5 latas: 1 botella Cenfotec.
      </a>


      <div class="item item-divider">
        Cartón
      </div>

      <a class="item" href="#">
        10 cajas de cartón: 1 bolso Cenfotec.
      </a>

      <a class="item" href="#">
        5 cajas de cartón: 1 botellas Cenfotec.
      </a>

    </div>
  </ion-content>
</ion-modal-view>
