<ion-view view-title="ReciclApp">
  <ion-content >

      <div class="card">
        <div class="item item-divider bar-energized" style="text-align: center">
          <h4>Ingrese sus puntos</h4>
          <p style="font-size:12px">¿COMO FUNCIONA?</p>
        </div>
        <div class="item item-text-wrap" style="text-align: center">
          <p style="font-size:11px">
            1. Presione el botón "Escáner de puntos".<br>
            2. Presione la opción que desea (Manual o con camara). <br>
            3. Registre los puntos que contiene el código de barras proporcionado.<br>
            4. Acumule puntos canjeables por premios de la Universidad Cenfotec.<br>
            <br>
            Recuerde, entre más puntos acumule puede obtener más<br>
            premios cortesía de la Univesidad y puede aparecer en el <br>
            Top 10 de las personas que más reciclan. <br>
          </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#" ng-click="action()">
            <i class="icon ion-android-checkmark-circle balanced"></i>
            Escáner de puntos
          </a>
        </div>
      </div>

  </ion-content>

</ion-view>
